body{
    background-color: #05cdb1e0;
}
.main{
    height: 100vh;
}
.section{
    margin-top: 15rem !important;
    align-items: centers;
}
.buttonstart{
    background-color: #05cdb1e0;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    /* font-size: 1.2rem; */

    /* height: 5vh; */
    /* font-size: 1.3rem; */
}
.guessbtn{
    border: 1px solid grey;
    padding: 0.7rem;
    border-radius: 5px;
    width: 3rem !important;
    height: 3rem !important;
    margin: 0.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: #05cdb1e0;
    font-weight: bold;
}

